
- content_for :ad_top do
  = render :partial => 'layouts/scripts/adsense_top'
- content_for :ad_middle do
  = render :partial => 'layouts/scripts/adsense_body'

- if @queued
  - r = 'none'; s = 'normal';
- else
  - r = 'normal'; s = 'none';

%section#clean_box{style:"display:#{r};"}
  .row-fluid
    .span12
      .well
        .control-group
          .controls
            .input-prepend
              %span.add-on
                ＠
              %input#clean_i.span2{autocapitalize:'off',style:'width:200px;',request_type:'clean'}
              %div{style: 'text-align:center;'}
                = link_to '開始', 'javascript:void(0);', :class => 'btn btn-primary', :style => 'width: auto;padding: 3px 40px;',
                  :onclick => '$("#clean_i").trigger("submit");'
            %p.help-inline
              消去を行います<br>
              確認のためTwiter IDを入力してください

%section#status_box{style:"display:#{s};"}
  .row-fluid
    .span12
      .well
        .control-group
          .controls
            .input-prepend
              %span.add-on
                ＠
              %input.span2{value:@user_profile[:twitter_screen_name],readonly:true,style:'width:200px;'}
          #progress.progress.progress-danger.progress-striped.active
            .bar
          .status{style:'text-align:center;'}
            %span.label.label-info<
              = ' 削除数:'
              = content_tag :span, '---', :id => 'destroy_count'
            %span.label.label-info<
              = 'API残:'
              = content_tag :span, '---', :id => 'remaining_hits'
            %span.label.label-info<
              = '経過:'
              = content_tag :span, '---', :id => 'elapsed_time'
            %span.label.label-info<
              = '混雑度:'
              - if @service_profile[:target_count] <= 85
                = content_tag :span, '空き'
              - elsif @service_profile[:target_count]<= 170
                = content_tag :span, '普通'
              - else
                = content_tag :span, '混雑'
        .help-link
          = link_to '削除処理を完了する', 'javascript:void(0);', :id => 'abort'

%section#abort_box{style:'display:none;'}
  .row-fluid
    .span12
      .well
        .control-group
          .controls
            .input-prepend
              %span.add-on
                ＠
              %input#abort_i.span2{autocapitalize:'off',style:'width:200px;',request_type:'abort'}
              %div{style: 'text-align:center;'}
                = link_to '完了', 'javascript:void(0);', :class => 'btn btn-primary', :style => 'width: auto;padding: 3px 40px;',
                  :onclick => '$("#abort_i").trigger("submit");'
            %p.help-inline
              削除処理を完了します<br>
              確認のためTwiter IDを入力してください
        .help-link
          = link_to '>> ステータス表示に戻る', 'javascript:void(0);', :id => 'status'

