
- content_for :ad_top do
  = render :partial => 'layouts/scripts/adsense_top'
- content_for :ad_middle do
  = render :partial => 'layouts/scripts/adsense_body'

- if @queued
  - r = 'none'; s = 'normal';
- else
  - r = 'normal'; s = 'none';

%section#clean_box{style:"display:#{r};"}
  .row-fluid
    .span12
      .well
        .control-group
          .controls
            .input-prepend
              %span.add-on
                ＠
              %input.span2{autocapitalize:'off',style:'width:213px;',request_type:'clean'}
            %p.help-inline
              消去を行います<br>
              確認のためTwiter IDを入力してください

%section#status_box{style:"display:#{s};"}
  .row-fluid
    .span12
      .well
        .control-group
          .controls
            .input-prepend
              %span.add-on
                ＠
              %input.span2{value:@user_profile[:twitter_screen_name],readonly:true,style:'width:213px;'}
          #progress.progress.progress-danger.progress-striped.active
            .bar
          .status{style:'text-align:center;'}
            %span.label.label-info<
              = ' 削除数:'
              = content_tag :span, '---', :id => 'destroy_count'
            %span.label.label-info<
              = 'API残:'
              = content_tag :span, '---', :id => 'remaining_hits'
            %span.label.label-info<
              = '経過:'
              = content_tag :span, '---', :id => 'elapsed_time'
        .help-link
          = link_to '削除処理を完了する', 'javascript:void(0);', :id => 'abort'

%section#abort_box{style:'display:none;'}
  .row-fluid
    .span12
      .well
        .control-group
          .controls
            .input-prepend
              %span.add-on
                ＠
              %input.span2{autocapitalize:'off',style:'width:213px;',request_type:'abort'}
            %p.help-inline
              削除処理を完了します<br>
              確認のためTwiter IDを入力してください
        .help-link
          = link_to '>> ステータス表示に戻る', 'javascript:void(0);', :id => 'status'
