
- content_for :ad_top do
  = render :partial => 'layouts/scripts/adsense_top'

%section
  .row-fluid
    .span12
      .well
        = link_to 'Twitterの黒歴史を抹消する', @authorize_url, :class => 'btn btn-primary'
        <br><br>
        = link_to 'Mixiの黒歴史を抹消する', '#', :class => 'btn disabled'
        <br><br>
        = link_to 'Facebookの黒歴史を抹消する', '#', :class => 'btn disabled'

%section
  .row-fluid
    .span12
      = render :partial => 'roots/scripts/social_bookmarks'
