
- if @authorized
  = render :partial => 'roots/scripts/operations'

%header#overview.jumbotron.subhead
  %h1
    黒歴史クリーナー
  %p.lead
    あなたの黒歴史を完全消去
    = link_to '', help_path, :class => 'icon-info-sign icon-white', :target => '_blank'
    #count.label.label-success
      = "（計#{@service_profile[:users_count]}人#{@service_profile[:destroy_count]}件の黒歴史を消去）"
- if !@queued && !@authorized
  = render :partial => 'login'
- else
  = render :partial => 'dashboard'

%section
  .row-fluid
    .span12
      = render :partial => 'roots/scripts/social_bookmarks'

%footer.footer
  %p
    © 2012 <a href='https://twitter.com/#!/cohakims_work' target='_blank'>@cohakim</a> All Rights Reserved.
