
= render :partial => 'roots/scripts/service'
= render :partial => 'roots/scripts/twitter'

- content_for :ad_top do
  = render :partial => 'layouts/scripts/adsense_top'

#count.label.label-success
  = '（計---人---件の黒歴史を消去）'

%section
  .row-fluid
    .span12
      .well
        %div.label.label-warning{style:'margin-bottom:10px;text-align:center;'}
          [NEW] Android系のスマホに対応！（4/17）
        %ul{style:'font-size:11px;'}
          %li 簡単操作であなたのツイートを全消去！
          %li ブラウザを閉じていても削除されます！
          %li 1時間に300件ずつ消去します！
          %li いつでもキャンセル可能です！
          %li 削除中でも新着のツイートは消えません！
        %p.help-link{style:'margin-top:0px;margin-bottom:15px;font-size:11px;'}
          = link_to 'もっと詳しくみる', help_path, :target => '_blank', :class => 'help-link'
        = link_to 'Twitterの黒歴史を消去する', '#', :class => 'btn btn-primary disabled', :id => 'login'

%section
  .row-fluid
    .span12
      #busy.label.label-success{style:'margin-bottom:20px; text-align:center;'}
        = "[混雑度] ---人を処理中（---）"
