
- content_for :scripts do
  :javascript
    var KC = {};

  :javascript
    KC.request = {
      clean: function() {
        $.ajax({
          url: '#{clean_path}', type: 'POST', dataType: 'text',
          statusCode: {
            200: function() {
              KC.panel.switch('status');
            },
            500: function() {
              if (confirm('削除リクエストに失敗しました。ログインしなおすとなおるかも？ログインしなおしますか？')) {
                location.href = '#{logout_path}';
              }
            },
          }
        });
      },
      abort: function() {
        $.ajax({
          url: '#{abort_path}', type: 'POST', dataType: 'text',
          statusCode: {
            200: function() {
              alert('削除処理を完了しました。');
              location.href = '#{logout_path}';
            },
            500: function() {
              if (confirm('削除処理の完了に失敗しました。ログインしなおすとなおるかも？ログインしなおしますか？')) {
                location.href = '#{logout_path}';
              }
            },
          }
        });
      },
      status: function() {
        $.ajax({
          url: '#{stats_path}', type: 'GET', dataType: 'json',
          success: function(data, status, xhr) {
            KC.panel.updateStatus(data);
          },
          error: function() {
            clearInterval(KC.panel.status_timer);
            KC.panel.status_timer = null;
            if (confirm('削除ステータスを取得できませんでした。何度も失敗する場合はログインしなおしてください。ログインしなおしますか？')) {
              location.href = '#{logout_path}';
            }
            else {
              $('#progress').replaceWith('<p class="pending">表示の自動更新が停止されました<br>ページをリロードすると再開されます</p>');
            }
          }
        });
      }
    };
    KC.panel = {
      status_timer: null,
      switch: function(context) {
        if (context == 'status') {
          $('#clean_box').hide();
          $('#abort_box').hide();
          $('#status_box').fadeIn();
        }
        else if(context == 'abort') {
          $('#clean_box').hide();
          $('#status_box').hide();
          $('#abort_box').fadeIn();
        }
        KC.panel.toggleMonitor();
      },
      toggleMonitor: function() {
        if ($('#status_box').is(':hidden')) {
          clearInterval(KC.panel.status_timer);
          KC.panel.status_timer = null;
        }
        else {
          KC.request.status();
          KC.panel.status_timer = setInterval(function() {
            KC.request.status();
          }, 30000);
        }
      },
      updateStatus: function(status) {
        $('#destroy_count').html(status['destroy_count']);
        $('#remaining_hits').html(status['remaining_hits']);
        $('#elapsed_time').html(status['elapsed_time']);
        if (status['auth_failed_count'] > 3) {
          $('#progress').replaceWith('<p class="pending">削除は停止されました。認証情報が無効です。<br>削除処理を完了してください。</p>');
        }
        if (status['page'] > 160) {
          $('#progress').replaceWith('<p class="congratulations">全てのツイートが削除されました。<br>削除処理を完了してください。</p>');
        }
        else {
          $('#progress > .bar').width((status['page'] / 160 * 100) + '%');
          if (status['destroy_count'] != 0) {
            $('#progress').removeClass('progress-danger');
          }
        }
      },
    };
  :javascript
    $('input').bind('keyup', function() {
      if ($(this).val() == '') {
        $(this).parent().parent().parent().removeClass('success').removeClass('error');
      }
      else if ($(this).val() == '#{@user_profile[:twitter_screen_name]}') {
        $(this).parent().parent().parent().removeClass('success').removeClass('error');
        $(this).parent().parent().parent().addClass('success');
      }
      else {
        $(this).parent().parent().parent().removeClass('success').removeClass('error');
        $(this).parent().parent().parent().addClass('error');
      }
    });
    $('input').bind('submit', function() {
      if ($(this).val() == '#{@user_profile[:twitter_screen_name]}') {
        if ($(this).attr('request_type') == 'clean') {
          KC.request.clean();
        }
        else if ($(this).attr('request_type') == 'abort') {
          KC.request.abort();
        }
      }
    });
  :javascript
    $('#abort').bind('click', function() {
      KC.panel.switch('abort');
    });
    $('#status').bind('click', function() {
      KC.panel.switch('status');
    });
    $(document).bind('ready', function() {
      KC.panel.toggleMonitor();
    });
