!!!
%html{'xmlns:fb'=>"http://ogp.me/ns/fb#"}
  %head
    %title 黒歴史クリーナー
    = stylesheet_link_tag :application
    = javascript_include_tag :application
    = tag(:meta, :name => 'viewport', :content => 'width=device-width, user-scalable=no, initial-scale=1.0')
    = tag(:meta, :name => 'apple-mobile-web-app-status-bar-style', :content => 'black-translucent')
    = csrf_meta_tags
    :javascript
      $(window).bind('load', function() { setTimeout(function() { window.scrollTo(0, 1) }, 1); });
  %body
    = yield :ad_top
    .container-fluid
      = yield
    = yield :ad_middle
    = yield :scripts
    = render :partial => 'layouts/scripts/analytics'
